<p id="notice"><%= notice %></p>

<h1>Killmails</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @killmails.each do |killmail| %>
      <tr>
        <td><%= killmail.body %></td>
        <td><%= link_to 'Show', killmail %></td>
        <td><%= link_to 'Edit', edit_killmail_path(killmail) %></td>
        <td><%= link_to 'Destroy', killmail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Killmail', new_killmail_path %>
